body{

    /* Standard settings, gjør at ting blir helt sentrert */
    margin: 0;
    padding: 0;

    font-size: 3.3vw;

    text-shadow: 0 0 1.2vw white;

    background-color: pink;

   


    /* Her gjør jeg selve Body til en flexbox for å få sjakkbrettet på midten av skjermen */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    flex-direction: column;
    /* Jeg liker å bruke % verdier, ettersom det gjør ting scaleble uavhengig av skjerm */
}


.flexbox{
    /* Setter opp en flexbox som setter bredden til 40 vw(viewPortWidth)
    Dette gjør ting scaleble uavhengig av skjerm*/
    max-width: 32vw;
    height: 100%;
    display: flex;

    /* FlexWrap gjør at det startes på en ny linje når det ikke er plass til mer */
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    
}


/* Her markerer jeg ALLE DIVs sin er inni .flexbox */
.flexbox > div{

    /* Størelsen satt til 4vw. Siden jeg vil ha et 10*10 brett, 
    er widt og height på divs her 1/10 av flexboxen sin width og height */
    width: 4vw;
    height: 4vw;

    display: flex;
    align-items: center;
    justify-content: center;
   
}


/* Her bestemmer eg bare farger (wack) */
.b{
    background-color: rgb(44, 41, 41);
}

.w{
    background-color: white;
}
