@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --lm-bg-color:#fff;
    --lm-theme-color:#fff;
    --lm-txt-color:#fff;
    --lm-border-color:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    margin-top: 12vh;
    width: 66%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card{
    text-align: center;
    background-color: grey;
    --kort:0;
    border: 2px solid black;
    height: 60vh;
    width: 25%;
    position: absolute;    
    transform: translate(calc(75% * var(--kort)),5%) rotate(calc(7deg * var(--kort))) scale(calc(0.9));
    transition-duration: 0.3s;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

main:hover > .card{
    opacity: 0.9;
    
}
.card:hover{
    scale: 1.1 !important;
    opacity: 1 !important;
    z-index: 10 !important;
    box-shadow: 0 0  30px 10px black;
}

.center{
    transform: scale(1) !important;
}

.active{
    --kort:0 !important;
    scale: 1.3;
    width: 35%;
    height: 65vh;
    z-index: 20 !important;
    opacity: 1 !important;
}

.active:hover{
    scale: 1.32 !important;
    box-shadow: none;
}

.card > div{
    opacity: 0 !important;
    transition-duration: 0.5s;
}
.active > div{
    opacity: 1 !important;
}

.inputFelt{
    width: 100%;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 5vw;
    height: 0vh;
    transition-duration: 0.3s;
}
.inputFelt>div{
    scale: 1,0;
    opacity: 0;
    
}
.inputFelt>input{
    height: 1,0;
    opacity: 0;
    
    
}
.bildeOmråde{
    color: rgba(255, 255, 255, 0);
    height: 8vw;
    width: 8vw;
    background-color: black;
}
.artistAlbum{
    width: 5vw;
    margin-left: 0.5vw;
}
.år{
    width: 4vw;
    height: 3vw;
    margin-left: 5.5vw;
}

.addButton{
    z-index: 1000;
    cursor: pointer;
    user-select: none;
    width: 3vw;
    height: 3vw;
    margin-left: .5vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}




.inputAreaToggle{
    width: 90%;
    height: 3vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    cursor: pointer;
}


.activeInput{
    height: 20vh;
    display: flex ; 
}

.activeInput > div{
scale: 1,1;
opacity: 1;
}
.activeInput > input{
    scale: 1,1;
    opacity: 1;
    }

.listElement{
    height: 13vh;
    width: 70%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1.3fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "i a å"
                         "i n å";
}
.listElement>div{
    background-color: saddlebrown;
    border: 1px solid black;
}
.image{grid-area: i; width: 13vh; height: 13vh;}
.albumName{grid-area: a;}
.artistName{grid-area: n;}
.årstall{grid-area: å;}